<app-loader *ngIf="displayLoader"></app-loader>

<mat-toolbar class="back">
  <div class="col-sm-6">
    <div class="row">
      <div
        class="col-sm-12 d-flex align-items-center"
        style="font-size: 23px; font-style: italic"
      >
        <span class="mr-1"> Code-Test </span>
        <span style="color: #883d3d"> Bejoynd</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 d-flex align-items-center justify-content-end">
    <mat-icon
      *ngIf="favCount !== 0"
      matBadge="{{ favCount }}"
      matBadgeColor="warn"
      class="cursor-pointer"
      (click)="favPoemsComp()"
      >favorite</mat-icon
    >
    <mat-icon
      *ngIf="favCount == 0"
      matBadge="{{ favCount }}"
      matBadgeColor="warn"
      class="cursor-not"
      >favorite</mat-icon
    >
  </div>
</mat-toolbar>

<div class="row justify-content-center mt-3">
  <mat-card
    class="example-card m-3 flex-column poemCard back"
    *ngFor="let poem of poems"
  >
    <mat-card-title class="d-flex align-items-end"
      ><mat-icon class="mt-3">toc</mat-icon> <span> {{ poem.title }}</span>
    </mat-card-title>
    <mat-card-subtitle class="d-flex align-items-end"
      ><mat-icon class="mt-3">person</mat-icon> <span>{{ poem.author }}</span>
    </mat-card-subtitle>

    <mat-icon
      class="cursor-pointer"
      title="Add to favourite"
      (click)="addToFav(poem)"
      >favorite</mat-icon
    >
    <mat-icon
      class="cursor-pointer"
      (click)="viewDetails(poem)"
      title="Show poem details"
      >visibility</mat-icon
    >
  </mat-card>
</div>
