/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: lightblue url("./assets/landing-page.jpg") no-repeat fixed center;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dddddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.poemCard {
  width: 25%;
}
@media screen and (max-width: 600px) {
  .poemCard {
    width: 100%;
    margin: 10px;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.back {
  background-color: rgba(255, 255, 255, 0.6);
}
